<p>Name: <%= @recipe.name %></p>
<p>Name: <%= @recipe.ingredients %></p>
<p>Name: <%= @recipe.cook_time %></p>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <button type="button" name="button" value="Delete"></button>
</form>